h5 {
	color: #000;
	opacity: 0.8;
	font-size: 1.5rem;
}
.profile__section {
	margin-left: 275px;
	margin-top: 100px;
}

.profile__section .card {
	border-radius: 4px;
	height: 100%;
}
.profile__section label {
	color: #7c96a5;
}

.profile__section input,
.profile__section select {
	background: #e5ebef;
	border: 1px solid #e5ebef;
}
.btn__close {
	filter: drop-shadow(0px 18px 40px rgba(162, 162, 162, 0.349));
	background: #ffffff;
	border: 2px solid #5b922f;
	font-size: 14px;
	padding: 5px 40px;
}
.btn__save {
	filter: drop-shadow(0px 18px 40px rgba(25, 72, 154, 0.251));
	background: #5b922f;
	color: #fff;
	display: block;
	margin: auto;
	font-size: 14px;
	padding: 5px 40px;
}

.profile__section small {
	opacity: 0.8;
}

.active__profile {
	background: #e8f0fe;
	padding: 8px;
	color: #5295e0 !important;
	font-weight: 500;
	border-bottom-right-radius: 50px;
	border-top-right-radius: 50px;
	margin-bottom: 1rem;
}

.active__profile i {
	margin-right: 1rem;
}

.inactive__profile {
	color: #7d7d7d;
}

.inactive__profile i {
	margin-right: 1rem;
}

.css-1s2u09g-control {
	background: #e5ebef !important;
	border: 1px solid #e5ebef !important;
}
.css-1okebmr-indicatorSeparator {
	display: none !important;
}
.css-tj5bde-Svg {
	fill: #000 !important;
	opacity: 0.6 !important;
}

.card__options {
	height: fit-content !important;
}

.card-tab {
	padding: 10px 0px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	cursor: pointer;
}

.card-tab__title {
	margin: 0;
	padding: 0;
	color: #000 !important;
	/* font-weight: 600; */
	font-size: 14px;
	padding: 0px 8px;
}

.card-tab__arrow {
	width: 10px;
}

.card-profile-image {
	height: fit-content !important;
}

.card-profile-image__content {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

/* .image-upload {
  object-fit: cover;
  display: block;
  margin: auto;
} */

.image-upload > label {
	position: relative;
}

.image-upload__preview {
	width: 120px;
	height: 120px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
}

.image-upload__edit {
	position: absolute;
	bottom: 0;
	right: 0;
}

.image-upload__input {
	display: none;
}

.image-upload__title {
	margin: 2rem 0;
	text-align: center;
	background-color: #eeeeee !important;
	color: #7c96a5;
	border: none;
	outline: none;
	font-weight: 600;
}

.profile__card .card {
	display: flex;
	flex-direction: column;
}

.profile__card .card .link-box {
	position: absolute;
	bottom: 1rem;
	width: calc(100% - 2.5rem);
}

.profile__card .card .content-box {
	display: flex;
}

@media screen and (max-width: 768px) {
	.profile__section {
		margin: 6rem auto 0 !important;
		/* margin-top: 2rem; */
	}

	.profile__card {
		margin-bottom: 1rem !important;
	}
}

@media screen and (max-width: 998px) {
	.profile__card .card {
		height: 200px !important;
		margin-bottom: 1rem;
	}

	.mt-5 {
		margin-top: 0 !important;
	}
}
