.preLogin {
  background: #fff;
  height: 100vh;
}

.preLogin label {
  font-size: 13px;
  opacity: 0.8;
}

.color__primary {
  color: #26237b;
}

.color__secondary {
  color: #5b922f;
}

.preLogin__btn {
  /* background: #5b922f; */
  /* width: 100%; */
  filter: drop-shadow(0px 18px 40px rgba(91, 146, 47, 0.25));
  display: block;
  margin: auto;
  padding: 5px 40px;
  border: 2px solid #5b922f;
  border-radius: 50px;
  color: #26237b;
  font-weight: bold;
}

.preLogin__btn:hover {
  background: #5b922f;
  color: #fff;
}

.preLogin__btn__outline {
  background: #fff;
  color: #5b922f;
  width: 100%;
  border: 1px solid #5b922f;
  filter: drop-shadow(0px 18px 40px rgba(91, 146, 47, 0.25));
}

.vl {
  border-left: 1px solid rgba(0, 0, 0, 0.4);
  height: 350px;
  position: absolute;
  left: 50%;
  margin-left: -3px;
  top: 0;
}
.github__btn {
  border: 1px solid #26237b;
  /* padding: 8px 10px; */
  /* background: #5b922f; */
  background: linear-gradient(90deg, #fff 22%, #26237b 0);
}

.github__btn button {
  background: transparent !important;
  border: none !important;
  color: #fff;
}

.github__btn button:focus {
  outline-width: 0 !important;
}

@media only screen and (max-width: 768px) {
  .vl {
    display: none;
  }

  .github__img {
    width: 60%;
    margin-top: 40px;
  }
}

#change_password_eyeslash1 {
  position: absolute;
  right: 16px;
  color: #7c96a5;
  top: 45px;
}

.progress-bar {
  margin-top: 10px;
  border-radius: 4px;
}
